<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)"/>
        </Found>
        <NotFound>
            <p>Undskyld, siden er ikke fundet!</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>