@page "/users/new"

@using ApiContracts_DTO.Users
@using BlazorApp.HttpServices

@inject IUserService UserService

<h3>Opret Bruger</h3>

@if (!string.IsNullOrEmpty(LastSubmitResult))
{
    <h2 class="alert @(IsSucces ? "alert-success" : "alert-danger")">
        @LastSubmitResult
    </h2>
}
<UserForm User="User"
          OnValidSubmit="ValidFormSubmitted"
          OnInvalidSubmit="InvalidFormSubmitted"/>

@code {

    CreateUserDTO User = new CreateUserDTO
    {
        Username = null,
        Password = null
    };

    string LastSubmitResult;
    bool IsSucces;
    UserDTO? CreatedUser;

    async Task ValidFormSubmitted()
    {
        LastSubmitResult = "Indsender Bruger...";
        IsSucces = false;
        try
        {
            CreatedUser = await UserService.AddUserAsync(User);

            LastSubmitResult = $"Success! Bruger oprettet med ID: {CreatedUser.Id}.";
            IsSucces = true;

            User = new CreateUserDTO // reset

            {
                Username = null,
                Password = null
            };
        }
        catch (Exception e)
        {
            LastSubmitResult = $"Server Fejl: {e.Message}";
            IsSucces = false;
        }
    }

    void InvalidFormSubmitted()
    {
        LastSubmitResult = "Fejl! Ret venligst de markerede fejl.";
        IsSucces = false;
    }

}