@page "/comments/{CommentId:int}/edit"

@inject ICommentService CommentService
@inject NavigationManager NavManager

<PageTitle>Ret Kommentar</PageTitle>
<h3>Ret Kommentar</h3>

<AuthorizeView>
    <Authorized>
        @if (!string.IsNullOrEmpty(LastSubmitResult))
        {
            <h2 class="alert @(IsSucces ? "alert-success" : "alert-danger")">
                @LastSubmitResult
            </h2>
        }

        <UpdateCommentForm Comment="Comment"
                        OnValidSubmit="ValidFormSubmitted"
                        OnInvalidSubmit="InvalidFormSubmitted"/>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedContent/>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    [Parameter] public int CommentId { get; set; }

    private int postId;
    
    UpdateCommentDTO Comment = new UpdateCommentDTO()
    {
        Body = null
    };

    string LastSubmitResult;
    bool IsSucces;
    
    protected override async Task OnInitializedAsync()
    {
        var originalComment = await CommentService.GetSingleCommentByIdAsync(CommentId);
        postId = originalComment.PostId;
        Comment = new UpdateCommentDTO()
        {
            Id = originalComment.Id,
            Body = originalComment.Body
        };
    }

    async Task ValidFormSubmitted()
    {
        LastSubmitResult = "Indsender opdatering...";
        IsSucces = false;
        try
        {
            await CommentService.UpdateCommentAsync(Comment.Id,Comment);
            

            LastSubmitResult = $"Success! Kommentar med ID: {Comment.Id} opdateret.";
            IsSucces = true;

            Comment = new UpdateCommentDTO()
            {
                Body = null
            };
            NavManager.NavigateTo($"/Posts/{postId}");

        }
        catch (Exception e)
        {
            LastSubmitResult = $"Server Fejl: {e.Message}";
            IsSucces = false;
        }
    }

    void InvalidFormSubmitted()
    {
        LastSubmitResult = "Fejl! Ret venligst de markerede fejl.";
        IsSucces = false;
    }
}