@page "/posts/new"

@using System.Security.Claims

@inject IPostService PostService
@inject AuthenticationStateProvider AuthStateProvider

<h3>Opret opslag</h3>

<AuthorizeView>
    <Authorized>

        @if (!string.IsNullOrEmpty(LastSubmitResult))
        {
            <h2 class="alert @(IsSucces ? "alert-success" : "alert-danger")">
                @LastSubmitResult
            </h2>
        }
        <PostForm Post="Post"
                  OnValidSubmit="ValidFormSubmitted"
                  OnInvalidSubmit="InvalidFormSubmitted"/>

    </Authorized>
    <NotAuthorized>
        <NotAuthorizedContent/>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    CreatePostDTO Post = new CreatePostDTO
    {
        Title = null,
        Body = null,
        SubForumId = 0,
        UserId = 0
    };

    string LastSubmitResult;
    bool IsSucces;
    PostDTO? CreatedPost;

    async Task ValidFormSubmitted()
    {
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;

        if (claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            // the user is not logged in
            LastSubmitResult = "Du skal være logget ind for at kunne oprette et opslag.";
            IsSucces = false;
            return;
        }

        Post.UserId = int.Parse(claimsPrincipal.FindFirst(ClaimTypes.NameIdentifier)!.Value);

        LastSubmitResult = "Indsender opslag...";
        IsSucces = false;
        try
        {
            CreatedPost = await PostService.CreatePostAsync(Post);

            LastSubmitResult = $"Success! Opslag oprettet med ID: {CreatedPost.Id}.";
            IsSucces = true;

            Post = new CreatePostDTO // reset
            {
                Title = null,
                Body = null,
                SubForumId = 0,
                UserId = 0
            };
        }
        catch (Exception e)
        {
            LastSubmitResult = $"Server Fejl: {e.Message}";
            IsSucces = false;
        }
    }

    void InvalidFormSubmitted()
    {
        LastSubmitResult = "Fejl! Ret venligst de markerede fejl.";
        IsSucces = false;
    }

}