@page "/"

@inject NavigationManager NavMgr
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column align-items-center gap-3 w-50 mx-auto m-5">
    <AuthorizeView>
        <Authorized>
            <h3>Velkommen tilbage bruger, @context.User.Identity?.Name</h3>
            <p>Prøv at kigge på nogle spændende opslag i menuen.</p>
            <button class="btn btn-danger w-5 p-3" @onclick="LogoutAsync">Log ud</button>
        </Authorized>
        <NotAuthorized>
            <p>Du er ikke logget på !</p>
        </NotAuthorized>
    </AuthorizeView>

    <button class="btn btn-primary w-5 p-3" @onclick='() => NavMgr.NavigateTo("login")'>Gå til login</button>
</div>

@code
{
    private async Task LogoutAsync()
    {
        try
        {
            await ((SimpleAuthProvider)AuthProvider).Logout();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
